.content__slider {
    padding: 2rem;
    position: relative;

    button.top {
        background-color: transparent;
        border: 0;
        bottom: 3rem;
        cursor: pointer;
        height: 50px;
        overflow: hidden;
        position: absolute;
        right: 3rem;
        width: 50px;
        z-index: 9;

        img {
            max-width: 100%;
        }
    }

    .keen-slider {
        background-color: #ffffff;
        border-radius: 20px;
    
        .keen-slider__slide {
            height: 0;
            padding-top: 100%;
            position: relative;

            img {
                bottom: 0;
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }
    }
}