.app-header {
    align-items: center;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;

    .logo {
        max-height: 40px;
    }

    .details {
        button {
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            background-color: transparent;
            border: 0;

            img {
                max-width: 100%;
            }
        }
    }
}